@tailwind base;
@tailwind components;
@tailwind utilities;

.f-family-krub {
  font-family: "Krub", sans-serif;
}
.f-family-rubik {
  font-family: "Rubik", sans-serif;
}
.f-family-league-spartan {
  font-family: "League Spartan", sans-serif;
}
.hero-bg {
  background: url("./assests/iimages/Bg.jpg") no-repeat center/cover;
  /* height: calc(100vh - 8vw); */
  height: 90vh;
}
.hr-nav {
  color: white;
  height: 0px;
  /* position: absolute; */
  width: 19px;
  margin-right: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transform: rotate(90deg);
}
.yellow-bg-gradient {
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
}
.yellow-color-gradient {
  color: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
}
.yellow-border-color {
  border-color: #ffda56;
}
.bg-5-blue {
  background: rgba(4, 28, 55, 0.5);
}
.leading-20 {
  line-height: 71px;
}
.border-skew {
  transition: all 0.8s;
}
.border-skew::after {
  content: "";
  background-color: white;
  width: 35px;
  height: 35px;
  bottom: 0%;
  right: 0%;
  position: absolute;
  border-top-left-radius: 110%;
}
.section-head-bg {
  background: rgba(232, 232, 232, 0.5);
}
.section-head-color {
  color: #1c1f35;
}
.p-color {
  color: #666c89;
}
.benefits-bg {
  background: url("./assests/iimages/Benfits.svg") no-repeat center/cover;
  width: 100%;
  height: 60vh;
}
.-bottom-120 {
  bottom: -30rem;
}
.vh-85 {
  height: 85vh;
}
.vh-60 {
  height: 60vh;
}
.vh-120 {
  height: 120vh;
}
.slider-card {
  height: 400px;
}
.btn {
  background: #1c1f35;
}
.primary-1 {
  background: #091242;
}
.secondary-1 {
  background: #f4f4f4;
}
.btn::after {
  content: "";
  background-color: #666c89;
  width: 36px;
  height: 36px;
  bottom: 0%;
  right: 0%;
  position: absolute;
  border-top-left-radius: 110%;
}
.icon-circle {
  width: 45px;
  height: 45px;
}
.quote-circle {
  width: 72.85px;
  height: 72.85px;
}
.primary-2 {
  color: #666c89;
}
.primary-3 {
  background: #1f2a69bd;
}
.secondary-2 {
  color: #8388a7;
}
.secondary-2-border {
  border-color: #8388a7;
}
